header {
    position: relative;
    color: $color3;
    width: 100%;
    border-bottom: 2px solid $color4;
    background-color: $color1;
    display: grid;
    grid-template-columns: 22.5% 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "logo contact"
        "logo menu";

    @media screen and (max-width: 1024px) {
        grid-template-columns: 30% 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "contact contact"
            "logo menu";
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 50% 50%;
    }

    .contact {
        grid-area: contact;
        padding: 5px 50px;
        font-family: $fontRaleway;

        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

        @include center;
        justify-content: end;
        gap: 100px;


        ul {
            display: flex;
            gap: 20px;

            li {
                &:hover {
                    cursor: pointer;
                }

                i {
                    font-size: 2em;

                    &:hover {
                        color: $color2;
                    }
                }
            }


        }

        @media screen and (max-width: 768px) {
            justify-content: space-between;
            gap: 0;
            padding: 5px 20px;
        }

    }

    .logo {

        grid-area: logo;
        padding: 10px;

        img {
            width: 70%;
            object-fit: contain;
        }
    }

    .menu {
        grid-area: menu;
        @import "./nav";
    }
}