html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}

/* Mixins */
/*  color  */
@font-face {
  font-family: "fontRaleway";
  src: url(../font/raleway/Raleway-VariableFont_wght.ttf);
}
body {
  font-family: Helvetica, sans-serif;
}

header {
  position: relative;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: rgb(14, 14, 14);
  display: grid;
  grid-template-columns: 22.5% 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo contact" "logo menu";
}
@media screen and (max-width: 1024px) {
  header {
    grid-template-columns: 30% 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "contact contact" "logo menu";
  }
}
@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 50% 50%;
  }
}
header .contact {
  grid-area: contact;
  padding: 5px 50px;
  font-family: "fontRaleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
  gap: 100px;
}
header .contact ul {
  display: flex;
  gap: 20px;
}
header .contact ul li:hover {
  cursor: pointer;
}
header .contact ul li i {
  font-size: 2em;
}
header .contact ul li i:hover {
  color: rgb(129, 138, 145);
}
@media screen and (max-width: 768px) {
  header .contact {
    justify-content: space-between;
    gap: 0;
    padding: 5px 20px;
  }
}
header .logo {
  grid-area: logo;
  padding: 10px;
}
header .logo img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .menu {
  grid-area: menu;
}
header .menu nav {
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  background-color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
}
header .menu nav .menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
header .menu nav .menuContainer .arrowDown::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  height: 0;
  width: 0;
  border-top: 8px solid rgb(255, 255, 255);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .arrowDown::after {
    margin-right: 20px;
    content: "";
    position: absolute;
    z-index: 0;
    top: 15px;
    right: 0;
    margin-left: 10px;
    height: 0;
    width: 0;
    border-top: 8px solid rgb(255, 255, 255);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .arrowUp::after {
    margin-right: 20px;
    content: "";
    position: absolute;
    z-index: 0;
    top: 15px;
    right: 0;
    margin-left: 30px;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
header .menu nav .menuContainer .menuRow {
  border: 1px solid rgb(238, 255, 0);
}
header .menu nav .menuContainer .menuRow:hover {
  cursor: pointer;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8%;
       column-gap: 8%;
  position: absolute;
  z-index: 0;
  top: 90%;
  left: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(14, 14, 14);
  width: 100vw;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow .sousMenuContainer {
    flex-direction: column;
    padding: 20px;
    position: inherit;
    width: 100vw;
    transform: translateX(-20px);
  }
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu {
  width: 25%;
  align-self: start;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn {
  flex-direction: column;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li {
  transition: 0.5s ease;
  padding: 0 30px;
  width: 100%;
  font-weight: 700;
  line-height: 50px;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li:hover {
  cursor: pointer;
  color: rgb(129, 138, 145);
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li.btn {
  border: 1px solid rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li h1 {
  font-weight: 900;
  font-size: 18px;
  border-bottom: 2px solid #E8348C;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li h1:hover {
  cursor: default;
  color: rgb(14, 14, 14);
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenuVide {
    display: none;
  }
}
header .menu nav .menuContainer .menuRow .sousMenuHidden {
  display: none;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow {
    width: 100%;
    position: relative;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer {
    position: absolute;
    background-color: rgb(14, 14, 14);
    width: 100%;
    left: 0px;
    top: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav {
    justify-content: end;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainerMobileHidden {
    display: none;
  }
}
header .menu nav .menuBurger {
  position: relative;
  width: 25px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .menu nav .menuBurger .bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
}
header .menu nav .menuBurger .bar::after, header .menu nav .menuBurger .bar::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
}
header .menu nav .menuBurger .bar::before {
  transform: translateY(-7px);
}
header .menu nav .menuBurger .bar::after {
  transform: translateY(7px);
}
@media screen and (min-width: 768px) {
  header .menu nav .menuBurger {
    display: none;
  }
}
header .menu nav .aciveMenuBurger .bar {
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}
@keyframes activeBefore {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes activeAfter {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(-45deg);
  }
}
header .menu nav .aciveMenuBurger .bar::after {
  border: none;
  animation-name: activeAfter;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
header .menu nav .aciveMenuBurger .bar::before {
  border: none;
  animation-name: activeBefore;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
header .menu nav .disableMenuBurger .bar {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease-in;
}
@keyframes disableBefore {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-7px);
  }
}
@keyframes disableAfter {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(7px);
  }
}
header .menu nav .disableMenuBurger .bar::after {
  animation-name: disableAfter;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
header .menu nav .disableMenuBurger .bar::before {
  animation-name: disableBefore;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

main {
  border: solid;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 65px;
}
main .banner {
  width: 100vw;
  height: 515px;
  border: solid;
}
main section {
  min-width: 1140px;
  height: 533px;
  border: solid;
}
main .partenaires {
  width: 100vw;
  height: 515px;
  border: solid;
}

footer {
  color: rgb(255, 255, 255);
  width: 100vw;
  height: 365px;
  background-color: rgb(14, 14, 14);
}/*# sourceMappingURL=index.css.map */